# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environments
venv/

# Secrets
.env

# Training outputs and data
artifacts/
wandb/
data/
logs/
plots/
models/
runs/
metrics/

# OS
.DS_Store
